---
import advantages_bg from '../assets/images/advantages__bg-fig.png';
import doc from '../assets/icons/doctor.svg?url';
import clean from '../assets/icons/clean.svg?url';
import equipment2 from '../assets/icons/equipment2.svg?url';
import guarantee from '../assets/icons/guarantee.svg?url';
import orthopantomogram from '../assets/icons/orthopantomogram.svg?url';
import clock from '../assets/icons/clock.svg?url';
import implant from '../assets/icons/implant.svg?url';
import money2 from '../assets/icons/money2.svg?url';
---

<section id="advantages" class="advantages">
  <div class="container">
    <div class="wrapper">
      <div>
        <h2 class="title-h2">Чому нас обирають?</h2>

        <ul class="ul-list">
          <li class="li-item">
            <div class="thumb">
              <div class="svg">
                <img src={doc} alt="" />
              </div>
            </div>
            <p><span class="text-bold">Кваліфікований</span> <br />медичний персонал</p>
          </li>

          <li class="li-item">
            <div class="thumb">
              <div class="svg">
                <img src={clean} alt="" />
              </div>
            </div>
            <span class="text-bold">Стерилізація інструментів</span>
            <br /> автоклавами MELAG, SIRONA
          </li>

          <li class="li-item">
            <div class="thumb">
              <div class="svg">
                <img src={equipment2} alt="" />
              </div>
            </div>
            <p><span class="text-bold">Європейське обладнання</span> <br />нового покоління</p>
          </li>

          <li class="li-item">
            <div class="thumb">
              <div class="svg">
                <img src={guarantee} alt="" />
              </div>
            </div>
            <><span class="text-bold">Гарантія</span> <br />майже на всі види послуг</>
          </li>

          <li class="li-item">
            <div class="thumb">
              <div class="svg">
                <img src={orthopantomogram} alt="" />
              </div>
            </div>
            <p>
              Лікування складних <span class="text-bold"><br />стоматологіческих випадків</span>
            </p>
          </li>

          <li class="li-item">
            <div class="thumb">
              <div class="svg">
                <img src={clock} alt="" />
              </div>
            </div>
            <p><span class="text-bold">Прийом по запису</span><br /> без очікування в черзі</p>
          </li>

          <li class="li-item">
            <div class="thumb">
              <div class="svg">
                <img src={implant} alt="" />
              </div>
            </div>
            <p><span class="text-bold">Імплантація</span><br /> MIS і STRAUMANN</p>
          </li>

          <li class="li-item">
            <div class="thumb">
              <div class="svg">
                <img src={money2} alt="" />
              </div>
            </div>
            <p><span class="text-bold">Баланс</span><br /> між якістю і ціною</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <style define:vars={{ bgUrl: `url(${advantages_bg.src})` }}>
    .advantages {
      background: #f6f6f6;
      background-image: var(--bgUrl);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .title-h2 {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #252525;
      text-align: center;
      gap: 20px;

      text-shadow: 0 2px 8px rgba(0, 0, 0, 0.588);
    }

    .title-h2::before,
    .title-h2::after {
      content: '';
      /* display: inline-block; */
      width: 19px;
      height: 4px;
      /* background-color: var(--main-color); */
      /* flex-shrink: 0; */
    }

    .title-h2::before {
      background: linear-gradient(90deg, transparent, var(--main-color));
    }
    .title-h2::after {
      background: linear-gradient(90deg, var(--main-color), transparent);
    }

    .text-bold {
      font-weight: 700;
    }
    .wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    .ul-list {
      margin-top: 40px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none;
      padding: 0;
    }
    .li-item {
      width: 171px;
      height: 245px;
      text-align: center;
    }
    .thumb {
      position: relative;
      width: 91px;
      height: 91px;
      margin: 0 auto 15px;
      background-color: rgba(59, 59, 58, 0.08);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      z-index: 1;
    }

    .thumb:before {
      content: '';
      position: absolute;
      top: 13px;
      bottom: 13px;
      left: 13px;
      right: 13px;
      background: var(--main-color);
      border-radius: 50%;
      z-index: -1;
    }
    .svg {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 2;
    }
    @media (min-width: 768px) {
      .title-h2::before,
      .title-h2::after {
        width: 25px;
      }
      .thumb {
        width: 105px;
        height: 105px;
      }
      .thumb:before {
        top: 15px;
        bottom: 15px;
        left: 15px;
        right: 15px;
      }
      .ul-list {
        margin-top: 60px;
      }
      .li-item {
        width: 181px;
        height: 270px;
        text-align: center;
      }
      .svg {
        width: 40px;
        height: 40px;
      }
    }
    @media (min-width: 1200px) {
      .thumb {
        width: 119px;
        height: 119px;
      }
      .thumb:before {
        top: 17px;
        bottom: 17px;
        left: 17px;
        right: 17px;
      }
      .ul-list {
        margin-top: 70px;
      }
      .li-item {
        width: 275px;
        height: 225px;
        text-align: center;
      }
      .svg {
        width: 50px;
        height: 50px;
      }
    }
  </style>
</section>
