<!-- ---
import { Image } from 'astro:assets';
import location from '../assets/icons/location.svg?url';
import clock from '../assets/icons/clock2.svg?url';
import call from '../assets/icons/call.svg?url';
import photo from '../assets/images/sirius-photo1.jpg';
---

<section class="contacts">
  <div class="container">
    <h2>Контакти</h2>
    <div class="all-info-wrapper">
      <div class="info-wrapper">
        <ul class="info-list">
          <li class="info-item">
            <div class="sign-wrapper">
              <img src={location} alt="" class="sign" />
            </div>
            <div class="text-wrapper">
              <h3>Адреса:</h3>
              <p>Суховоля, 50, Трускавец 2 этаж, офис 1</p>
            </div>
          </li>
          <li class="info-item">
            <div class="sign-wrapper">
              <img src={clock} alt="" class="sign" />
            </div>
            <div class="text-wrapper">
              <h3>Графік роботи:</h3>
              <p>Пн.- Пт. 10:00 - 20:00, Сб. 10:00 - 18:00</p>
            </div>
          </li>
          <li class="info-item">
            <div class="sign-wrapper">
              <img src={call} alt="" class="sign" />
            </div>
            <div class="text-wrapper">
              <h3>Телефони:</h3>
              <div class="phones-wrapper">
                <div><a href="tel:0674764995" class="phone">(067)476-49-95</a></div>
                <span class="divider">|</span>
                <div><a href="tel:0637415529" class="phone">(063)741-55-29</a></div>
                <span class="divider">|</span>
                <div><a href="tel:0962568070" class="phone">(096)256-80-70</a></div>
              </div>
            </div>
          </li>
          <li class="info-item">
            <div class="sign-wrapper">
              <img src={clock} alt="" class="sign" />
            </div>
            <div class="text-wrapper">
              <h3>Електронна пошта:</h3>
              <a href="mailto:topdent.vn@gmail.com">topdent.vn@gmail.com</a>
            </div>
          </li>
        </ul>
        <ul class="social-list">
          <li class="social-item">
            <a class="social-image" href="viber://chat?number=%2B380501234567">
              <img src={call} alt="Написати у Viber" class="social-sign" />
            </a>
            <p>Viber</p>
          </li>
          <li class="social-item">
            <a
              class="social-image"
              href="https://t.me/Konstantin_Sorochan"
              target="_blank"
              rel="noopener"
            >
              <img src={call} alt="Написати у Telegram" class="social-sign" />
            </a>
            <p>Telegram</p>
          </li>
          <li class="social-item">
            <a
              class="social-image"
              href="https://wa.me/380631011119"
              target="_blank"
              rel="noopener"
            >
              <img src={call} alt="Написати у WhatsApp" class="social-sign" />
            </a>
            <p>WhatsApp</p>
          </li>
        </ul>
      </div>

      <div class="map-wrapper">
        <div class="map-thumb">
          <span class="left-corner"></span>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2602.7408076914444!2d23.515340075987634!3d49.28130837085214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473a4968686ccfbd%3A0x55610d64346bd60d!2sTts%20Vektor!5e0!3m2!1sru!2sua!4v1773669252430!5m2!1sru!2sua"
            width="600"
            height="450"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
          <span class="right-corner"></span>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .contacts .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contacts h2 {
    position: relative;
    margin-bottom: 20px;
  }

  .contacts h2::before {
    content: '';
    position: absolute;
    top: 45%;
    left: -50px;
    display: block;
    width: 19px;
    height: 4px;
    background-color: var(--main-color);
  }

  .contacts h2::after {
    content: '';
    position: absolute;
    top: 45%;
    right: -50px;
    display: block;
    width: 19px;
    height: 4px;
    background-color: var(--main-color);
  }

  .all-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .info-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .info-list h3 {
    margin-bottom: 10px;
  }

  .info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .sign-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #2f9e8836;
  }

  .sign-wrapper::before {
    content: '';
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--main-color);
  }

  .sign {
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }

  .text-wrapper {
    text-align: center;
  }

  .info-wrapper p {
    font-size: clamp(15px, 1.3vw, 30px);
  }

  .phones-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6px;
  }

  .divider {
    color: #837a96;
  }

  .social-list {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  .social-list p {
    margin-top: 8px;
    font-size: 10px;
    letter-spacing: 0.05em;
    text-align: center;
  }

  .social-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 51px;
    height: 51px;
    border-radius: 50%;
    background-color: #8c8ca83d;
  }

  .social-sign {
    width: 16px;
    height: 16px;
  }

  .map-wrapper {
    padding: 25px 25px;
  }

  .map-thumb {
    position: relative;
    width: 100%;
  }

  .left-corner::before {
    content: '';
    display: block;
    width: 60px;
    height: 8px;
    background-color: var(--photo-corner-color);
    position: absolute;
    top: -25px;
    left: -25px;
  }

  .left-corner::after {
    content: '';
    display: block;
    width: 8px;
    height: 60px;
    background-color: var(--photo-corner-color);
    position: absolute;
    top: -25px;
    left: -25px;
  }

  .right-corner::before {
    content: '';
    display: block;
    width: 60px;
    height: 8px;
    background-color: var(--photo-corner-color);
    position: absolute;
    bottom: -25px;
    right: -25px;
  }

  .right-corner::after {
    content: '';
    display: block;
    width: 8px;
    height: 60px;
    background-color: var(--photo-corner-color);
    position: absolute;
    bottom: -25px;
    right: -25px;
  }

  @media (min-width: 768px) {
    .contacts h2 {
      margin-bottom: 50px;
    }

    .contacts h2::before {
      width: 25px;
    }

    .contacts h2::after {
      width: 25px;
    }

    .info-wrapper {
      line-height: 25px;
    }

    .info-list {
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      gap: 30px;
    }

    .info-item {
      width: 40%;
    }

    .map-thumb {
      max-width: 500px;
    }
  }

  @media (min-width: 1200px) {
    .all-info-wrapper {
      flex-direction: row;
    }

    .info-wrapper {
      width: 50%;
      line-height: 1.4;
      text-align: left;
      gap: 30px;
    }

    .info-list {
      flex-direction: column;
    }

    .info-item {
      flex-direction: row;
      width: 100%;
    }

    .text-wrapper {
      text-align: left;
    }

    .text-wrapper h3 {
      margin-bottom: 0;
    }

    .map-wrapper {
      padding: 0;
      width: 50%;
    }

    .map-thumb {
      width: 100%;
      max-width: none;
    }
  }
</style> -->
